Binaries
DerivedDataCache
Intermediate
Saved
Builds
Build/Windows
Build/Switch
Build/PS5
Platforms/HoloLens
enc_temp_folder
Plugins/Developer/RiderLink/
Plugins/EOSIntegrationKit/Source/ThirdParty/EIKSDK
#

.vsconfig
.vscode
.vs
.idea/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log

Content/COMMIT_OFF
ChibiEscape.sln.DotSettings.user
